<div #labelHora class="hora" (click)="desplegable = !desplegable">
   {{ hora }}
</div>

<div class="capa-deshabilitadora" *ngIf="desplegable" (click)="cerrarDesplegable($event)"></div>
<div class="desplegable" 
   *ngIf="desplegable" 
   [@inOutDesplegable]="direccion_desplegable" 
   [ngStyle]="{'top': desplegable_top, 'bottom': desplegable_bottom, 'left': desplegable_left}">
   <div *ngFor="let h of horas" class="h" (click)="seleccion(h)" [ngClass]="{'seleccionado': h === hora}">
      {{ h }}
   </div>
</div>
