:host{
   width: 100vw;
   height: 100vh;
   position: fixed;
   top: 0%;
   left: 0%;
   background-color: rgba(0,0,0,0.6);
   z-index: 1000;

   .contenido-alerta-tipo1{
      display: block;
      width: 70%;
      border-radius: 7px;
      background-color: rgb(250,250,250);
      position: absolute;
      top: 30%;
      left: 15%;
      opacity: 0;
      transition: all 500ms;

      &.show{
         top: 30%;
         opacity: 1;
      }

     .contenido-mensaje {
         width: 100%;
         height: 100%;

         .mensaje{
            width: 100%;
            padding: 0 10%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: 1.5rem;
            padding: 10% 5%;
            color: black;
         }
         .botonera{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 10%;
            padding-bottom: 8%;

            .nemo{
               width: 100%;
               height: 100%;
               display: flex;
               justify-content: center;
               align-items: center;
               border: 1px solid #646464;
               border-radius: 1000px;
               background: rgb(156,137,202);
               font-size: 1.7rem;
               color: white;
               text-transform: uppercase;
               padding: 4%;
               font-weight: bold;
            }
         }

      }
   }
}
