:host{
  width: 100%;
  height: 100%;
  position: relative;
  display:block;
  .boton{
    TOP: 17%;
    WIDTH: 47%;
    POSITION: ABSOLUTE;
    HEIGHT: 65%;
    LEFT: 15%;
    BACKGROUND: rgba(0, 0, 0, 0) linear-gradient(to bottom, #ffffff 0%, #dcdcdc 100%) repeat scroll 0 0;
    DISPLAY: FLEX;
    JUSTIFY-CONTENT: CENTER;
    ALIGN-ITEMS: CENTER;
    LETTER-SPACING: 2PX;
    FONT-WEIGHT: BOLD;
    color: #6d6c6c;
    border-radius: 9px;
    border: 1px solid #c1c1c1;
    z-index: 38;
    .icono{
      position: absolute;
      top: 18%;
      font-size: 1.1rem;
    }
    .texto{
      position: absolute;
      bottom: 9%;
      font-size: .6rem;
      letter-spacing: 0;
    }
  }
}
