SUBSYSTEM=="tty",ATTRS{devpath}=="1.1.3",SYMLINK+="ttyDALI1"
SUBSYSTEM=="tty",ATTRS{devpath}=="1.1.2",SYMLINK+="ttyDALI2"
SUBSYSTEM=="tty",ATTRS{devpath}=="1.1.5",SYMLINK+="ttyDALI3"
SUBSYSTEM=="tty",ATTRS{devpath}=="1.1.4",SYMLINK+="ttyDALI4"
