:host{
   font-size: 10.5px;

   .capa-deshabilitadora{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
   }
   .desplegable-opciones{
      width: 250px;
      background-color: white;
      border-radius: 20px;
      box-shadow: 0px 0px 50px 0 rgba(0, 0, 0, 0.15);
      z-index: 2;
      position: absolute;
      
      .indicativo{
         position: absolute;
         
         font-size: 3em;
         color: white;
         display: flex;
         justify-content: center;
         align-items: center;
         &.izda{
            height: 100%;
            top: 0;;
            left: -11px;
         }
         &.dcha{
            height: 100%;
            top: 0;;
            right: -11px;
         }
         &.superior{
            width: 100%;
            top: -16px;
            left: 0;
         }
         &.inferior{
            width: 100%;
            bottom: -16px;
            left: 0;
         }
      }
      .opcion{
         width: 100%;
         height: 50px;
         border-bottom: 1px solid #e4e4e4;
         display: flex;

         &:last-child{
            border-bottom: none;
         }
         &.disabled{
            pointer-events: none;

            .texto, .icono{
               opacity: .3;
            }
         }
         .texto{
            width: 70%;
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            float: left;
            padding-left: 25px;
            font-size: 1.4em;
         }
         .icono{
            width: 30%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            float: left;
            color: #0088ff;
            font-size: 1.7em;
         }
      }
   }
}