#SUBSYSTEM=="usb",GROUP="soa"
#SUBSYSTEM=="usb",MODE="0666"
#KERNEL=="ttyUSB*", GROUP="soa", MODE="0666"

SUBSYSTEM=="usb", ATTR{idProduct}=="12d1", ATTR{idVendor}=="151d", \
        RUN+="/sbin/usb_modeswitch -c /etc/usb_modeswitch.conf"
