:host{
   width:100%;
   height: 100%;
   display:block;
   background:rgb(207, 204, 204);
   border-radius: 10px;
   font-size: 11.5px;

   .contenedor{
      width: 100%;
      background: #f8f8f8;
      border-radius: 10px;

      .cabecera{
         width: 100%;
         height: 50px;
         background: #f3f3f3;
         border-bottom: 2px solid #e7e4e4;
         border-top-left-radius: 20px;
         border-top-right-radius: 20px;
         position: relative;

         .boton{
            position: absolute;
            top: 0;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.2em;
            color: #0088ff;
            font-weight: bold;
            padding: 0 20px;


            &.cerrar{
               left: 0;
            }
            &.crear{
               right: 0;
            }
         }
      }

      .check{
         width: 100%;
         height: 60px;
         display: flex;
         justify-content: center;
         align-items: center;
      }

      .contenedor-calendario{
         width: 100%;

         igx-calendar{
            width: 100%;
            background: #f8f8f8;
            border-radius: 10px;

            &.espaciado{
               ::ng-deep{
                  igx-day-item{
                     margin: 6px 0;
                  }
               }
            }
           
            ::ng-deep{
               .igx-calendar__date--current .igx-calendar__date-content{
                  color: #981ce4;
               }
               .igx-calendar-picker__date{
                  font-size: 1.5em;
                  color: #0087ff;
                  text-transform: uppercase;
               }
               .calendar__body{
                  font-size: 1.4em;
                  text-transform:uppercase;
               }
               .igx-calendar-picker__date{
                  font-size: 1.5em;
               }
               igx-days-view{
                  background: #f8f8f8;
               }
               igx-months-view{
                  font-size: 1.4em;
               }    
               igx-years-view{
                  font-size: 1.8em;
               }
               igx-day-item{
                  pointer-events: none;
                  color: #999;

                  &.diadisponible{
                     pointer-events: all;
                     color: black;
                  }
                  &.diamarcado{
                     span{
                        border: 1px solid #1354e8;
                        color: #1354e8 ;
                        border-radius: 10px;
                     }
                  }
                 
                  &.igx-calendar__date--weekend{
                     pointer-events: none;
                  }
                  &.igx-calendar__date--selected {
                     span{
                        background: #0087ff;
                        color: white;
                        font-weight: bold;
                     }
                  }
                  &.igx-calendar__date {
                     font-size: 1.5em;
                     &.selecionado{
                        background: #f6f6f6;
                        color: black;
                        font-weight: bold;
                        border: 1px solid #ccc;
                        border-radius: 10px;
                        pointer-events: auto;
                     }
                  }
               }
            }
         }
      }
   }
}