:host{
   width: 100vw;
   height: 100vh;
   position: fixed;
   top: 0%;
   left: 0%;
   background-color: rgba(0,0,0,0.6);
   z-index: 1000;

   .contenido-alerta-tipo4{
      display: block;
      width: 80%;
      border-radius: 7px;
      background-color: rgb(250,250,250);
      position: absolute;
      top: 7%;
      left: calc(50% - 40%);
      opacity: 0;
      transition: all 500ms;

      &.show{
         top: 12%;
         opacity: 1;
      }

      .cerrar{
         position: absolute;
         top: 0;
         right: 0;
         width: 20%;
         height: 20%;
         display: flex;
         justify-content: center;
         align-items: center;
         font-size: 2rem;
         padding-left: 4%;
         padding-bottom: 4%;
         -webkit-text-stroke: 1px white;
         color: grey;
      }

     .contenido-mensaje {
         width: 100%;
         height: 100%;

         .contenedor-icono{
            padding-top: 10%;

            .icono{
               width: 18vw;
               height: 18vw;
               border: 3px solid orange;
               border-radius: 1000px;
               color: orange;
               display: flex;
               justify-content: center;
               align-items: center;
               font-size: 4rem;
               margin: 0 auto;
            }
         }
         .mensaje{
            width: 100%;
            padding: 0 10%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: 1.5rem;
            padding: 10% 5%;
            color: black;
         }
         .botonera{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 10%;
            padding-bottom: 8%;

            .boton{
               min-width: 25%;
               height: 100%;
               display: flex;
               justify-content: center;
               align-items: center;
               border: 1px solid #646464;
               border-radius: 10px;
               font-size: 1.5rem;
               text-transform: uppercase;
               padding: 4%;
               margin: 0 3%;
               font-weight: bold;

               &.aceptar{
                  // background: #9c89ca;
                  color: black;
               }
               &.cancelar{
                  color: black;
               }
            }
         }
      }
   }
}
