<app-alerta-tipo1 
   *ngIf="show.alerta === 1"
   [texto]="show.texto"
   [botontexto]="show.botontexto">      
</app-alerta-tipo1>

<app-alerta-tipo2 
   *ngIf="show.alerta === 2"
   [texto]="show.texto"
   [botontexto]="show.botontexto">   
</app-alerta-tipo2>

<app-alerta-tipo3 
   *ngIf="show.alerta === 3"
   [texto]="show.texto"
   [botontexto]="show.botontexto">
</app-alerta-tipo3>

<app-alerta-tipo4 
   *ngIf="show.alerta === 4"
   [texto]="show.texto"
   [botontextoaceptar]="show.botontextoaceptar"
   [botontextocancelar]="show.botontextocancelar">      
</app-alerta-tipo4>

<app-alerta-tipo5 
   *ngIf="show.alerta === 5"
   [texto1]="show.texto1"
   [texto2]="show.texto2"
   [texto3]="show.texto3"
   [botontextoaceptar]="show.botontextoaceptar"
   [botontextocancelar]="show.botontextocancelar">
</app-alerta-tipo5>

<app-alerta-tipo6 
   *ngIf="show.alerta === 6"
   [texto]="show.texto"
   [botontexto]="show.botontexto"
   [icono]="show.icono">
</app-alerta-tipo6>
