@font-face {
    font-family: 'lato';
    src: url('fonts/Lato-Thin.ttf');
    src: url('fonts/Lato-Thin.ttf') format('truetype')
}
@font-face {
    font-family: 'lato orig';
    src: url('fonts/Lato/Lato-Light.ttf');
    src: url('fonts/Lato/Lato-Light.ttf') format('truetype');   
    font-weight: lighter;
    font-style: normal;
}
@font-face {
    font-family: 'lato orig';
    src: url('fonts/Lato/Lato-Bold.ttf');
    src: url('fonts/Lato/Lato-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'lato orig';
    src: url('fonts/Lato/Lato-Regular.ttf');
    src: url('fonts/Lato/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'nanum';
    src: url('fonts/Nanum_Gothic/NanumGothic-Light.ttf');
    src: url('fonts/Nanum_Gothic/NanumGothic-Light.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}
@font-face {
    font-family: 'nanum';
    src: url('fonts/Nanum_Gothic/NanumGothic-ExtraBold.ttf');
    src: url('fonts/Nanum_Gothic/NanumGothic-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'nanum';
    src: url('fonts/Nanum_Gothic/NanumGothic-Regular.ttf');
    src: url('fonts/Nanum_Gothic/NanumGothic-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'titillium';
    src: url('fonts/Titillium_Web/TitilliumWeb-Light.ttf');
    src: url('fonts/Titillium_Web/TitilliumWeb-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'titillium';
    src: url('fonts/Titillium_Web/TitilliumWeb-SemiBold.ttf');
    src: url('fonts/Titillium_Web/TitilliumWeb-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'titillium';
    src: url('fonts/Titillium_Web/TitilliumWeb-Regular.ttf');
    src: url('fonts/Titillium_Web/TitilliumWeb-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'titillium';
    src: url('fonts/Titillium_Web/TitilliumWeb-Bold.ttf');
    src: url('fonts/Titillium_Web/TitilliumWeb-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
